:root {
	// BACKGROUNDS
	--yellow-background: #ffcd1e;
	--pink-background: #ff008e;
	--black-background: #1b1b1f;
	--black-background-2: #202024;
	--black-background-3: #29292e;

	// TEXTS
	--black-text: #09090a;
	--white-text: #c4c4cc;
	--white-text-2: #e1e1e6;
	--white-text-3: #fff;
	--gray: #8d8d99;
}
